# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** List popular languages for Data Science:
- Python
- R
- SQL 
- Scala

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL 
    4. Scala

Some of the commonly used libraries used by Data Scientists include:

    1. TensorFlow
    2. NumPy
    3. SciPy 
    4. Pandas
    5. Matplotlib 
    6. Keras
    7. SciKit-Learn
    8. ggplot
    9. Dplyr

| Data Science Tools |
| --- |
| Apache Spark |
| Matlab |
| SAS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

min = 200
h = min//60
m = min%60
print(min, "minutes are", h, "hours and", m, "minutes")

200 minutes are 3 hours and 20 minutes

## Author

Manuel Albeza Guijarro